<div class="container cart">
    <table>
        <tr>
            <th>Товары</th>
            <th>Количество</th>
            <th>Цена</th>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="./images/product-2.jpg" alt="" />
                    <div>
                        <p>Одежда</p>
                        <span>₽50.00</span> <br />
                    </div>
                </div>
            </td>
            <td><input type="number" value="1" min="1" /></td>
            <td>₽50.00</td>
        </tr>
    </table>
    <div class="total-price">
        <table>
            <tr>
                <td>Сумма</td>
                <td>₽200</td>
            </tr>
            <tr>
                <td>Доставка</td>
                <td>₽50</td>
            </tr>
            <tr>
                <td>Общая сумма</td>
                <td>₽250</td>
            </tr>
        </table>
        <a href="#" class="checkout btn">Купить</a>
    </div>
</div>